<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>
<body>

    <div>
        <div>
            <h1>Bienvenido</h1>
        </div>
        <div>
            <form action="/administrador">
                <button type="submit" class="btn btn-primary btn-block">entrar como administrador</button>                    
            </form>
        </div>
        <div>
            <form action="/usuario">
                <button type="submit" class="btn btn-primary btn-block">entrar como cliente</button>                    
            </form>
        </div>
    </div>
    
</body>
</html>