<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <div>
        <div id="titulo">
            <h1>Usuario</h1>
        </div>
        <div>
            <h2>camara</h2>
            <img id="video" src="{{ url_for('video_viewer') }}">
        </div>
    </div>
    <div>
        <form action="/">
            <button type="submit" class="btn btn-primary btn-block">Salir</button>                    
        </form>
    </div>
    
</body>
</html>